.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.d.ts
.github/**
test/**
examples/**
docs/**
.editorconfig
.prettierrc
.travis.yml
.grunt/**
.idea/**
.nyc_output/**
coverage/**
.DS_Store
**/.DS_Store
Thumbs.db
.git/**
**/*.vsix